body {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

form {
    position: fixed;
    left: 50%;
    top: 50%;

    width: 860px;

    border-radius: var(--big-radius);

    transform: translate(-50%, -50%);
}
form > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.4em;
    width: 100%;
}
.buttons_actions {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: fit-content;
}
label {
    width: 100%;
}

.checkbox-liste {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: fit-content;
}
.checkbox-liste .checkbox-item {
    display: flex;
    height: fit-content;
    gap: 10px;
}
.checkbox-liste .checkbox-item label {
    width: fit-content;
    height: fit-content;
    
    text-wrap: nowrap;
}
