.options_barre {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: calc(var(--gap) * 2) var(--padding) var(--gap);

    & article {
        display: flex;
        gap: var(--margin);
    
        width: fit-content;
        height: fit-content;

        & p {
            font-weight: 600;
        }

        & a {
            text-wrap: nowrap;
        }
    }
}

.candidatures-menu {
    position: fixed;
    top: 15em;

    display: none;
    justify-content: left;
    gap: var(--margin);

    width: 100%;
    z-index: 2;

    padding: var(--padding);

    background-color: var(--white);
    overflow-y: hidden;
    box-shadow: 0 15px 5px 5px rgba(0, 0, 0, 0.05);

    &.active {
        display: flex;
    }

    & section {
        display: flex;
        flex-direction: column;
        gap: calc(var(--margin) / 2);
    
        width: clamp(240px, 30%, 320px);
    }

    & #statut_input {
        display: flex;
        flex-direction: column;
        gap: calc(var(--margin) / 2);
    
        width: 120px;

        & .container-statut {
            display: flex;
        }

        & input {
            height: var(--font-size-standart);
        }
    }

    & > button {
        width: fit-content;
        cursor: pointer;
    }

    & #valider-filtre,
    & #lancer-recherche {
        position: absolute;
        bottom: var(--padding);
        right: var(--padding);
    
        padding: 0 var(--padding);
    }

    & .input-date {
        display: flex;
        flex-direction: column;
        gap: calc(var(--margin) / 4);
    }
}

.liste_items {
    width: 100%;
    height: calc(100dvh - 15em);

    padding-top: calc(var(--margin) / 2);

    & .table-wrapper, 
    & .entete {
        padding: 0 3em;
    }

    & .table-wrapper {
        overflow-y: auto;
        height: calc(100dvh - 8em - 150px);

        & table th {
            position: relative;
            padding-left: var(--margin);

            &:first-of-type, 
            &:nth-of-type(7),
            &:nth-of-type(8) {
                padding-left: var(--padding);

                &::before {
                    content: '';
                    position: absolute;
                    left: var(--margin);
                    top: 50%;
                
                    display: block;
                    width: var(--font-size-small);
                    height: var(--font-size-small);
                    z-index: 0;
                
                    border-radius:  var(--font-size-small);
                    transform: translateY(-50%);
                }
            }
        }

        & table tbody tr {
            &.en-attente th:first-of-type::before,
            &.hublo th:nth-of-type(7)::before {
                background-color: var(--enattente);
            }

            &.non-traitee th:first-of-type::before,
            &.hellowork th:nth-of-type(7)::before {
                background-color: var(--nontraitee);
            }

            &.acceptee th:first-of-type::before,
            &.email th:nth-of-type(7)::before,
            & th:nth-of-type(8)::before {
                background-color: var(--acceptee);
            }

            &.refusee th:first-of-type::before,
            &.telephone th:nth-of-type(7)::before,
            &.date_depassee th:nth-of-type(8)::before {
                background-color: var(--refusee);
            }
        }
    }
}

#main-liste .table-wrapper table tbody tr {
    opacity: 0;
    transition: opacity ease 150ms;

    &.visible {
        opacity: 1;
    }
}