body {
    display: flex;
    align-items: center;

    width: 100dvw;
    height: 100dvh;

    margin: 0;
    padding: 0;

    overflow: hidden;
}
body .connexion-illustration {
    width: 50%;
    height: 100%;

    background-color: var(--blue);
}
body .connexion-illustration img:first-of-type {
    position: fixed;
    top: 20%;
    left: 12.5%;

    display: block;
    width: 25%;

    animation: infinite-vertical-move 4s infinite ease-in-out;
}
body .connexion-illustration img:last-of-type {
    position: fixed;
    bottom: 0;
    left: -5%;

    display: block;
    width: 45%;
}

form {
    width: 50%;
    height: 100%;
}

.user-link{
    position: absolute;
    bottom: var(--margin);
    left: 50%;

    color: var(--grey);
    text-align: center;
    transform: translateX(-50%);
}
.user-link  > a{
    position: relative;
    width: fit-content;
  
    color: var(--blue);
    background-color: transparent;
    border: none;
}
.user-link a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--blue);
    transform: scaleX(0);
    will-change: transform;
    transform-origin: left;
    overflow-x: hidden;
    transition: transform 450ms ease-in-out;
}
.user-link a:hover::after {
    transform: scaleX(1);
}

@media screen and (max-width: 1120px) {
    body > img {
        display: none;
    }

    form {
        width: 100%;
    }
}
  
