body {
    height: min-content;
}

content {
    display: flex;

    width: 100%;
    height: calc(100dvh - (2 * var(--nav-size-barre)));

    margin-top:  var(--nav-size-barre);
}
content > section {
    width: 65%;
    height: 100%;
    padding: var(--margin) var(--margin) 0 var(--padding);
}

aside {
    display: flex;
    flex-direction: column;
    gap: calc(var(--margin) * 1 / 2);
    
    width: 35%;

    padding: var(--margin);
}
aside article {
    padding: var(--margin);
}
aside article .liste_items {
    gap: 10px;
}
aside article .liste_items .entete {
    /*padding: 0 0 calc(var(--margin) / 4) 0;*/
    padding: 0 0 15px 0;
}