:root {
    --black: #000;
    --grey: rgba(0, 0, 0, 0.5);
    --light-grey: #D9D9D9;
    --white: #fff;
    --blue: #3264A9;    

    --font-size-big: 3.5em;
    --font-size-medium:2.1em;
    --font-size-standart: 1em;
    --font-size-small: 0.625em;

    --margin: 20px;
    --padding: 40px;
    --nav-barre-size: 70px;
}

* {
    margin: 0;
    padding: 0;

    font-size: var(--font-size-standart);
    font-family: Arial, Helvetica, sans-serif;

    box-sizing: border-box;
}

body {
    width: 100dvw;
    min-height: 100dvh;

    overflow-x: hidden;

    margin-top: var(--nav-barre-size);
}


/******** STYLE PAR DEFAULT ********/

h1 {
    text-transform: uppercase;
    font-size: var(--font-size-big);
    letter-spacing: 0.1em;
}

h2 {
    font-size: var(--font-size-medium);
    font-weight: 400;
    font-style: italic;
}

p {
    font-size: var(--font-size-standart);
    font-weight: 300;
}

a {
    color: var(--black);
    text-decoration: none;
}

.action_button {
    padding: calc(var(--margin) / 2) calc(var(--margin) * 2 /3);

    color: var(--blue);
    border: none;
    border-radius: var(--margin);
    background-color: transparent;

    will-change: color, background-color;
    transition: 150ms ease color, 150ms ease background-color;
}
.action_button:hover {
    color: var(--white);
    background-color: var(--blue);
}

form {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--margin);

    padding: 5% 5% 10% 5%;
}
form img {
    width: 8em;
    align-items: center;
    margin: 0 auto; 
}
form h2 {
    text-align: center;
}
form input {
    width: 100%;
    height: 45px;

    padding: 0 1em;

    border: 1px solid var(--black);
    border-radius: 5px;
}
form input::placeholder {
    color: var(--grey)
}
form button {
    width: 100%;
    height: 45px;
    
    color: var(--white);
    background-color: var(--black);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}
form .checkbox-liste {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form .checkbox-liste .checkbox-item {
    display: flex;
    align-items: center;
    gap: 5px;
}
form .checkbox-liste .checkbox-item input {
    position: relative;

    width: 0;
    height: 0;

    margin: 0 10px;
}
form .checkbox-liste .checkbox-item input::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    width: calc(var(--font-size-standart) * 2 / 3);
    height: calc(var(--font-size-standart) * 2 / 3);

    background-color: var(--light-grey);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
form .checkbox-liste .checkbox-item input:checked::before {
    opacity: 0;
}
form .checkbox-liste .checkbox-item input:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    width: calc(var(--font-size-standart) * 2 / 3);
    height: calc(var(--font-size-standart) * 2 / 3);

    background-color: var(--blue);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}


/******** ANIMATION DES LIGNES ********/

.lignes {
    position: relative;
}
.lignes::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--black);
    transform: scaleX(0);
    will-change: transform;
    transform-origin: left;
    overflow-x: hidden;
    transition: transform 850ms ease-in-out;
}
.lignes.active::after {
    transform: scaleX(1);
}

.LignesHover {
    position: relative;
    width: fit-content;

    color: var(--black);
    background-color: transparent;
    border: none;
}
.LignesHover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--black);
    transform: scaleX(0);
    will-change: transform;
    transform-origin: left;
    overflow-x: hidden;
    transition: transform 450ms ease-in-out;
}
.LignesHover:hover::after {
    transform: scaleX(1);
}

/******** ANIMATION DE TEXTE ********/

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    will-change: opacity transform;
    transition: opacity 750ms ease, transform 750ms ease;
}
.fade-in.active {
    opacity: 1;
    transform: translateY(0);
}
  
.opacity {
    opacity: 0;
    will-change: opacity;
    transition: opacity 750ms ease;
}
.opacity.active {
    opacity: 1;
}


/******** BARRE DE NAVIGATION ********/

.barre-de-navigation {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: var(--margin); */

    height: var(--nav-barre-size);
    width: 100%;

    padding: 0 var(--padding);

    border-bottom: 1px solid var(--black);
    background-color: var(--white);
}
.barre-de-navigation img {
    position: relative;
    height: 80%;
}
.barre-de-navigation > div {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: calc(1.5 * var(--margin));

    height: 100%;
}
.barre-de-navigation > div p:last-of-type {
    display: flex;
    align-items: center;

    height: 100%;
    margin-left: var(--margin);
}

#menu-icon {
    position: relative;

    width: calc(2 * var(--font-size-standart));
    height: calc(2 * var(--font-size-standart));
}
#menu-icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;
    width: calc(1.5 * var(--font-size-standart));
    height: 2px;

    background-color: var(--black);
}
#menu-icon span::before, 
#menu-icon span::after{
    position: absolute;
    top: 0; 
    left: 0;

    content: '';

    display: block;
    width: calc(1.5 * var(--font-size-standart));
    height: 2px;

    background-color: var(--black);
    transition: transform ease 250ms;
}
#menu-icon span::before{
    transform: translateY(-7px);
}
#menu-icon span::after{
    transform: translateY(7px);
}
#menu-icon:hover span::before{
    transform: translateY(-9px);
}
#menu-icon:hover span::after{
    transform: translateY(9px);
}
#menu-icon.is-opened span{
    background: transparent;
}
#menu-icon.is-opened span::before{
    transform: translateY(0) rotate(45deg);
}
#menu-icon.is-opened span::after{
    transform: translateY(0) rotate(-45deg);
}

#menu {
    position: fixed;
    top: var(--nav-barre-size);
    left: 0;

    display: flex;
    flex-direction: column;
    gap: var(--padding);

    width: 100%;
    height: calc(100dvh - var(--nav-barre-size));
    z-index: 1;

    padding: calc(2 * var(--padding));

    background-color: var(--white);

    transform: scaleY(0);
    transform-origin: top;
    transition: transform ease 500ms;
}
#menu.active {
    transform: scaleY(1);
}
#menu a {
    position: relative;
    font-size: var(--font-size-big);
    text-decoration: none;
    color: var(--black);
    letter-spacing: 0.1em;
    font-weight: 300;

    opacity: 0;
    will-change: opacity;
    transition: opacity ease-in-out 650ms;
}
#menu a.active{
    opacity: 1;
}
#menu a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;
    background-color: var(--black);

    transform: scaleX(0);
    will-change: transform;
    transform-origin: left;
    overflow-x: hidden;
    transition: transform 550ms ease-in-out;
}
#menu a.active:hover::after {
    transform: scaleX(1);
}

#menu-deconnexion {
    position: fixed;
    top: var(--nav-barre-size);
    right: 0;
    z-index: 1;

    padding: var(--margin);

    background-color: var(--light_grey);
    border-left: 1px solid var(--black);
    border-bottom: 1px solid var(--black);

    transform: scaleY(0);
    will-change: transform;
    transform-origin: top;
    transition: transform ease-in-out 300ms;
    overflow-y: hidden;
}
#menu-deconnexion button {
    height: fit-content;
    padding: 5px;

    text-decoration: none;
    text-transform: none;
}