body {
    width: 100dvw;
    height: 100dvh;

    overflow: hidden;
}

content {
    display: flex;

    width: 100%;
    height: calc(100dvh -  var(--nav-barre-size));
}

content > .liste_items {
    width: 65%;
    height: 100%;

    padding-top: var(--padding);
}
content > .liste_items .entete,
content > .liste_items .table-wrapper {
    padding-left: var(--padding);
    padding-right: var(--gap);
}
content > .liste_items .table-wrapper {
    overflow-y: auto;
    height: calc(100dvh - (var(--nav-barre-size) + var(--gap)));
}

aside {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 2);

    width: 35%;

    padding: var(--padding) var(--padding) var(--gap) var(--margin);

    overflow-y: scroll;
}

#main-liste .table-wrapper table tbody tr {
    opacity: 0;
    transition: opacity ease 150ms;
}
#main-liste .table-wrapper table tbody tr.visible {
    opacity: 1;
}

@media screen AND (max-width : 1560px){
    content {
        flex-direction: column-reverse;
    }
    content > .liste_items {
        width: 100%;
        padding-right: var(--gap);
    }
    aside {
        display: none;
    }
}