body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body > content {
    display: flex;

    height: calc(100vh - 8em);

    margin-top: var(--padding);

    background-color: red;
}

/******** Barre de préférences ********/
body > content > aside {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--gap);

    width: 20%;
    height: 100%;

    padding: var(--padding) var(--gap);

    border-radius: 0 85px 0 0;
    background-color: var(--blue);
}
body > content > aside article {
    display: block;
    width: 100%;
    height: fit-content;
}
body > content > aside header {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: var(--margin);

    width: 100%;
    height: fit-content;

    margin-bottom: var(--gap);
}
body > content > aside header img {
    width: var(--font-size-medium);
}
body > content > aside header h2 {
    color: var(--white);
}

body > content > aside content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: calc(var(--margin) * 2 / 3);

    width: 100%;
    height: fit-content;

    padding-left: calc(var(--font-size-medium) + var(--margin));
}
body > content > aside content a {
    padding: calc(var(--margin) / 3) 0;

    color: var(--white);
    font-family: "Roboto";
}
body > content > aside content a.selected,
body > content > aside content a:hover {
    position: relative;
    font-family: "Roboto Bold";
}
body > content > aside content a.selected::before {
    content: '';
    position: absolute;
    top: calc(100% / 6);
    left: calc( -1 * var(--font-size-medium));

    display: block;
    width: 3px;
    height: calc(100% * 2 / 3);

    border-radius: 1px;
    background-color: var(--white);
}

/******** Main ********/